@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Oswald:wght@200;300;400;500;700&family=Poppins:wght@200&display=swap");
.footer {
  margin-top: 0;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://static-cse.canva.com/blob/773181/2020100815.23.03.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  text-transform: capitalize;
}
.box-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.box > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.1rem 0;
  color: white;
  font-family: "Poppins", sans-serif;
}
.box > a {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  padding: 0.3rem 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.box > a:hover {
  color: rgb(255, 102, 0);
}
.box .email {
  text-transform: none;
}
.box .fa {
  color: rgb(255, 102, 0);
  padding-right: 0.5rem;
}

.fa:hover {
  padding-right: 2rem;
}
.credit {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 1rem 0 2rem 0;
  padding-top: 2rem;
  font-size: 1.2rem;
  color: white;
}
.credit > span {
  color: rgb(255, 102, 0);
}
