.paymentHero{
  /* background: url(../../public/images/fon/fon45.jpg) no-repeat;
  background-position: top; */
  background-image: url(../../public/images/fon/fon45.jpg); 
  background-position: 40% 17%;
}
.payment-container {
  height: 30vh;
  /* min-height: 100vh; */

  }

.payment-row:first-child {
  margin: 340px 0 40px 0;
}

.payment-title {
  text-align: center;
  letter-spacing: 1.4px;
  margin-top: -270px;
  color: #fff;
}

.payment-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-col form {
  width: 310px;
  height: 200px;
  margin-top: -100px;
 
}

.payment-row:last-child .payment-col form .form-group {
  display: flex;
  flex-direction: unset;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.payment-row:last-child .payment-col form .form-group input {
  width: unset;
  height: unset;
  margin-left: 5px;
}

.payment-col form .form-group button {
  width: max-content;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 540px){
  .paymentHero{
   
    background-position: 45% 20%;
  }
}
